@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&display=swap');

* {
  font-family: 'Josefin Sans', sans-serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;

}

.read-the-docs {
  color: #888;
}
/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* Navbar Styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333;
  padding: 15px 20px;
  position: fixed;
  top:0;
  left:0
}

.logo {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

nav>ul {
  list-style: none;
  flex-direction: row;
  display: flex;
}

nav>ul li {
  margin: 0 15px;
}

nav>ul a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: 0.3s;
}

nav>ul a:hover {
  color: #f4a261;
}



/* Responsive Navbar */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    text-align: center;
  }

  nav>ul {
    flex-direction: row;
    flex-wrap: wrap;
    gap:5px;
    margin-top: 10px;
  }

  nav>ul li {
    margin: 5px 0;
  }
}
